altair==5.5.0
graphviz==0.20.3
hdbscan==0.8.40
kneed==0.8.5
matplotlib==3.10.1
missingno==0.5.2
networkx==3.4.2
nltk==3.9.1
numpy==2.2.3
nx_altair==0.1.6
pandas==2.2.3
Pillow==11.1.0
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sentence_transformers==3.3.1
streamlit==1.39.0
torch==2.5.1
wordcloud==1.9.3
